<!-- /snippets/product-form.liquid -->

<style>
  #product-location-selector {
    display: none;
  }
  .shipping-faq {
    color: grey;
    text-decoration: underline;
    font-size: 1.02rem;
    width: max-content;
  }
</style>

{%- liquid
  assign variants_count = product.variants.size
  assign enable_color_swatches = settings.enable_color_swatches
  assign enable_variant_boxes = settings.enable_variant_boxes
  assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ','

  comment
    Disable quick buy button if there are subscription options for the product
  endcomment

  if show_payment_button and product.selling_plan_groups.size < 1 and settings.enable_accept_terms == false
    assign show_payment_button = true
  else
    assign show_payment_button = false
  endif

  comment
    Check if the product is on sale and set a variable to be used below.
  endcomment

  assign on_sale = false
  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  comment
    Check if the product is sold out and set a variable to be used below.
  endcomment

  assign sold_out = true
  if current_variant.available
    assign sold_out = false
  endif

  comment
    #addToCartForm is a selector for the Ajax Cart plugin
  endcomment

  assign product_form_id = "AddToCartForm--" | append: unique
-%}

{% assign isStandalone = false %} 

{% assign isRestock = false %} 

{% for tag in product.tags %}
  {%if tag=='standalone' %}
  	{% assign isStandalone = true%}
  {%endif%}
  {%if tag=='restock' %}
  	{% assign isRestock = true%}
  {%endif%}
{%endfor%}

{% assign hasStandalone = 'empty' %}
{% if cart.item_count != 0 %}
	{% assign hasStandalone = 'hasRegular'%}
    {% for item in cart.items %}
        {% for tag in item.product.tags %}
            {%if tag=='standalone' %}
                {% assign hasStandalone = 'hasStandalone'%}
            {%endif%}
        {%endfor%}
    {%endfor%}
{% endif %}

{% assign allowAdd = true %}
{% if isStandalone == true and hasStandalone == 'hasRegular'%}
	{% assign allowAdd = false %}
{% elsif isStandalone == false and hasStandalone == 'hasStandalone' %}
	{% assign allowAdd = false %}
{% endif %}

{%- form 'product', product, class: "product__form product__form--is-loading", data-product-form: '', id: product_form_id, data-enable-button: show_payment_button -%}

  <!-- <div class="shop-pay-terms">{{ form | payment_terms }}</div> -->
  {%- comment -%}
    Variants
  {%- endcomment -%}
  <div class="product-form__variants-wrapper variants-wrapper{% unless enable_variant_boxes %} variants-wrapper--grid{% endunless %}">
    {%- liquid
      unless product.has_only_default_variant
        if enable_variant_boxes
          render 'product-variant-boxes', product: product, color_label: color_label, unique: unique
        else
          assign product_options = product.options.size

          for option in product.options_with_values
            assign downcased_option = option.name | downcase
            assign is_color = false

            if color_label contains downcased_option
              assign is_color = true
            endif

            if is_color
              capture color_variants
                echo color_variants

                if enable_color_swatches
                  render 'product-swatch', index: forloop.index0, product_id: product.id, option: option, downcased_option: downcased_option, color_label: color_label, unique: unique
                else
                  render 'product-option', index: forloop.index0, product_id: product.id, option: option, unique: unique
                endif
              endcapture

            else
              capture non_color_variants
                echo non_color_variants

                render 'product-option', index: forloop.index0, option: option
              endcapture
            endif
          endfor

          echo color_variants
          echo non_color_variants
        endif
      endunless

      for tag in product.tags
        if tag contains '_preorder'
          assign preorder = true
        endif
        if tag contains 'coming_soon'
          assign coming_soon = true
        endif
      endfor
    -%}

    {%- if variants_count > 1 -%}
      <label for="productSelect--{{ unique }}" class="visually-hidden">{{ 'general.accessibility.select_variant' | t }}</label>
      <select
        name="id"
        id="productSelect--{{ unique }}"
        class="product-single__variants"
        data-productid="{{ product.id }}"
        data-product-select>
        {%- for variant in product.variants -%}
          {%- if variant.available -%}
            <option
              {% if variant == current_variant %} selected="selected" {% endif %}
              data-sku="{{ variant.sku }}"
              value="{{ variant.id }}">{{ variant.title | strip_html | escape }} - {{ variant.price | money_with_currency }}</option>
          {%- else -%}
            <option disabled="disabled">{{ variant.title | strip_html | escape }} - {{ 'products.product.sold_out' | t }}</option>
          {%- endif -%}
        {%- endfor -%}
      </select>
    {%- else -%}
      <input name="id" data-productid="{{ product.id }}" type="hidden" value="{{ current_variant.id }}" data-product-select>
    {%- endif -%}

    {%- if product.tags contains 'pickup' and coming_soon != true -%}
    {%- comment -%} Shipping / pickup radios {%- endcomment -%}
    <div class="product-form__radio-div">
      <label class="product-form__radio-label" for="shipping">
        <input type="radio" id="product-shipping" name="delivery" value="shipping" class="product-form__radio-input" checked>
        <span class="product-form__radio-span">Order for shipping</span>
      </label>
      <label class="product-form__radio-label" for="pickup">
        <input type="radio" id="product-pickup" name="delivery" value="pickup" class="product-form__radio-input">
        <span class="product-form__radio-span">Order for pickup</span>
      </label>
    </div>

    {%- comment -%} Pickup selector {%- endcomment -%}
    {% assign hasMiramar = 0 %}
    {% assign hasBalboa = 0 %}
    {% assign hasCarlsbad = 0 %}
    {% assign hasVista = 0 %}
    {% assign hasNorth = 0 %}
    {% for tag in product.tags %}
      {% if tag=='miramar' %}
        {% assign hasMiramar = 1 %}
      {% elsif tag=='balboa' %}
        {% assign hasBalboa = 1 %}
      {% elsif tag=='carlsbad' %}
        {%assign hasCarlsbad = 1 %}
      {% elsif tag=='vista'%}
        {% assign hasVista = 1 %}
      {% elsif tag=='north'%}
        {% assign hasNorth = 1 %}
      {% endif %}
    {% endfor %}
    <div id="product-location-selector" class="selector-wrapper" data-option="option">
      <div class="popout" data-popout-option>
        <button type="button" class="popout__toggle popout__toggle--product option__select" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-popout-toggle>
          <span class="popout__toggle-value" data-popout-text>Location:</span>
          {%- render 'icon-arrow' -%}
        </button>
        <!-- TODO: why aren't the links working? -->
        <ul id="option-list" class="popout-list popout-list-option popout-list--product" data-popout-list>
          {% if hasBalboa == 1 %}
          <li class="popout-list__item" data-popout-item>
            <a class="popout-list__option popout-list__option--product" href="https://www.toasttab.com/pure-project-bankers-hill/v3/?mode=fulfillment" target="_blank" data-value="balboa" data-popout-option>
              <span>Balboa Park</span>
            </a>
          </li>
          {% endif %}
          {% if hasCarlsbad == 1 %}
          <li class="popout-list__item" data-popout-item>
            <a class="popout-list__option popout-list__option--product" href="https://www.toasttab.com/pure-project-carlsbad/v3/?mode=fulfillment" target="_blank" data-value="carlsbad" data-popout-option>
              <span>Carlsbad</span>
            </a>
          </li>
          {% endif %}
          {% if hasMiramar == 1 %}
          <li class="popout-list__item" data-popout-item>
            <a class="popout-list__option popout-list__option--product" href="https://www.toasttab.com/pure-project/v3/?mode=fulfillment" target="_blank" data-value="miramar" data-popout-option>
              <span>Miramar</span>
            </a>
          </li>
          {% endif %}
          {% if hasVista == 1 %}
          <li class="popout-list__item" data-popout-item>
            <a class="popout-list__option popout-list__option--product" href="https://www.toasttab.com/pure-project-vista-1305-hot-spring-way/v3/?mode=fulfillment" target="_blank" data-value="vista" data-popout-option>
              <span>Vista</span>
            </a>
          </li>
          {% endif %}
          {% if hasNorth == 1 %}
          <li class="popout-list__item" data-popout-item>
            <a class="popout-list__option popout-list__option--product" href="https://www.toasttab.com/pure-project-north-park/v3" target="_blank" data-value="vista" data-popout-option>
              <span>North Park</span>
            </a>
          </li>
          {% endif %}
        </ul>
        <!-- <input type="hidden" name="{{ option.name }}" value="{{ option.selected_value | escape }}" data-popout-input data-single-option-selector data-index="option{{ option.position }}" id="SingleOptionSelector-{{ index }}-{{ product_id }}" /> -->
      </div>
    </div>
    {%- endif -%}

  {%- comment -%}
    Buttons
  {%- endcomment -%}
  <div class="product-form__buttons-grid buttons-grid{% if show_payment_button %} buttons-grid--half{% endif %}">
    <div class="product-form__btn-container {% if sold_out or allowAdd == false %} product-form__btn-container-disabled {% elsif coming_soon %} product-form__btn-container-coming {% endif %}">
      {% if product.handle == 'taproom-gift-card' %}
        <a href="https://www.toasttab.com/pure-project-carlsbad/giftcards?utmCampaign=onlineOrdering" target="_blank" class="product-form__submit-btn btn" style="justify-content: center !important;">
          Buy Now
        </a>
      {% else %}
      {%- if settings.show_quantity and coming_soon != true -%}
          {%- comment -%}
            Quantity Selector
          {%- endcomment -%}
          <div class="quantity-wrapper{% if enable_variant_boxes %} quantity-wrapper--half{% endif %}">
            <div class="product-form__quantity-div popout" data-popout-option>
              <button type="button" class="product-form__quantity-btn quantity__btn--decrease" data-quantity-button>
                <span class="visually-hidden">{{ 'general.accessibility.decrease' | t }}</span>
                {%- render 'icon-minus' -%}
              </button>

              <input type="number" name="quantity" value="1" min="1" pattern="[0-9]*" class="product-form__quantity" data-popout-input data-quantity-input/>

              <button type="button" class="product-form__quantity-btn quantity__btn--increase" data-quantity-button>
                <span class="visually-hidden">{{ 'general.accessibility.increase' | t }}</span>
                {%- render 'icon-plus' -%}
              </button>
            </div>

            <noscript>
              <label for="quantity--{{ unique }}">{{ 'products.product.quantity' | t }}</label>
              <input type="number" name="quantity" id="quantity--{{ unique }}" value="1" min="1">
            </noscript>
          </div>
          
        {%- else -%}
          <input type="hidden" name="quantity" value="1">
        {%- endif -%}
        {%- comment -%} END QUANTITY {%- endcomment -%}
        <button type="submit" name="add" id="AddToCart--{{ unique }}" class="product-form__submit-btn btn btn--submit {% if coming_soon %} coming-soon {% elsif allowAdd == false %} noAllowAdd {% endif %}" {% if sold_out or coming_soon or allowAdd == false %} disabled {% endif %} data-add-to-cart>
          <span id="AddToCartText" class="product-form__submit-text" data-add-to-cart-text>
            {%- if sold_out -%}
              {{- 'products.product.sold_out' | t -}}
            {%- elsif preorder -%}
              {{- 'products.product.preorder' | t -}}
            {%- elsif coming_soon -%}
              {{- 'products.product.coming_soon' | t -}}
            {%- else -%}
              {{- 'products.product.add_to_cart' | t -}}
            {%- endif -%}
          </span>
          <span class="product-form__submit-divider"></span>
          <span class="product-form__submit-price">{{ current_variant.price | money }}</span>
          {%- render 'icon-loading' -%}
        </button>
    </div>
    {%- if show_payment_button -%}
      <div data-payment-button="{{ section.settings.show_payment_button }}" data-quickview-payment-button="{{ settings.show_payment_button }}">
        {{- form | payment_button -}}
      </div>
    {%- endif -%}
    {%- endif -%}
  </div>

  {%- if product.tags contains 'beer' -%}
  <a class="shipping-faq" href="#">IMPORTANT: Shipping FAQ & Prop 65 Warning</a>
  {%- endif -%}

  {% if allowAdd == false %}
    {% if isStandalone==true %}
    <div style="font-style: italic; color: #c43e20;">This item is only available for pick-up. Please complete your current transaction for delivery and then create a new order for the pick-up items.</div>
    {% else %} 
    <div style="font-style: italic; color: #c43e20;">The item in your shopping cart cannot be combined with other products for delivery. Please complete your transaction then create a separate order for delivery.</div>
    {% endif %}
  {% endif %}
  </div>
{%- endform -%}

{% render 'shipping-faq-modal' %}

<script>
  $(function() {
    // Show / hide location selector
    const radioShipping = $('#product-shipping');
    const radioPickup = $('#product-pickup');
    $('input[type=radio][name=delivery]').change(function() {
      if (this.value == 'shipping') {
        $('#product-location-selector').first().slideUp('fast');
        $('.product-form__buttons-grid').css('display', 'grid');
      }
      else if (this.value == 'pickup') {
        $('#product-location-selector').first().slideDown('fast');
        // hide ATC buttons
        $('.product-form__buttons-grid').css('display', 'none');
      }
    });

    // Open location select options in new tab
    $('#product-location-selector .popout-list__option--product').on('click', () => {
      console.log(this.attr('href'));
      // window.open(url, '_blank').focus();
    });

    // Open shipping faq modal
    let shippingModal = $('#shipping-faq-modal');
    $('.shipping-faq').first().on('click', (e) => {
      e.preventDefault();
      shippingModal.css('display', 'block');
    });
  });
</script>
