<!-- /snippets/product-form.liquid -->

{%- liquid
  assign variants_count = product.variants.size
  assign enable_color_swatches = settings.enable_color_swatches
  assign enable_variant_boxes = settings.enable_variant_boxes
  assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ','

  comment
    Disable quick buy button if there are subscription options for the product
  endcomment

  if show_payment_button and product.selling_plan_groups.size < 1 and settings.enable_accept_terms == false
    assign show_payment_button = true
  else
    assign show_payment_button = false
  endif

  comment
    Check if the product is on sale and set a variable to be used below.
  endcomment

  assign on_sale = false
  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  comment
    Check if the product is sold out and set a variable to be used below.
  endcomment

  assign sold_out = true
  if current_variant.available
    assign sold_out = false
  endif

  comment
    #addToCartForm is a selector for the Ajax Cart plugin
  endcomment

  assign product_form_id = "AddToCartForm--" | append: unique
-%}

{%- form 'product', product, class: "product__form product__form--is-loading", data-product-form: '', id: product_form_id, data-enable-button: show_payment_button -%}

<div class="product-form__variants-wrapper variants-wrapper{% unless enable_variant_boxes %} variants-wrapper--grid{% endunless %}">

  {%- if variants_count > 1 -%}
    <label for="productSelect--{{ unique }}" class="visually-hidden">{{ 'general.accessibility.select_variant' | t }}</label>
    <select
      name="id"
      id="productSelect--{{ unique }}"
      class="product-single__variants"
      data-productid="{{ product.id }}"
      data-product-select>
      {%- for variant in product.variants -%}
        {%- if variant.available -%}
          <option
            {% if variant == current_variant %} selected="selected" {% endif %}
            data-sku="{{ variant.sku }}"
            value="{{ variant.id }}">{{ variant.title | strip_html | escape }} - {{ variant.price | money_with_currency }}</option>
        {%- else -%}
          <option disabled="disabled">{{ variant.title | strip_html | escape }} - {{ 'products.product.sold_out' | t }}</option>
        {%- endif -%}
      {%- endfor -%}
    </select>
  {%- else -%}
    <input name="id" data-productid="{{ product.id }}" type="hidden" value="{{ current_variant.id }}" data-product-select>
  {%- endif -%}
  {%- comment -%}
    Buttons
  {%- endcomment -%}
  <div class="product-form__buttons-grid buttons-grid{% if show_payment_button %} buttons-grid--half{% endif %}">
    <div class="product-form__btn-container {% if sold_out %} product-form__btn-container-disabled {% endif %}">
      {%- if settings.show_quantity -%}
          {%- comment -%}
            Quantity Selector
          {%- endcomment -%}
          <div class="quantity-wrapper{% if enable_variant_boxes %} quantity-wrapper--half{% endif %}">
            <div class="product-form__quantity-div popout" data-popout-option>
              <button type="button" class="product-form__quantity-btn quantity__btn--decrease" data-quantity-button>
                <span class="visually-hidden">{{ 'general.accessibility.decrease' | t }}</span>
                {%- render 'icon-minus' -%}
              </button>

              <input type="number" name="quantity" value="1" min="1" pattern="[0-9]*" class="product-form__quantity" data-popout-input data-quantity-input/>

              <button type="button" class="product-form__quantity-btn quantity__btn--increase" data-quantity-button>
                <span class="visually-hidden">{{ 'general.accessibility.increase' | t }}</span>
                {%- render 'icon-plus' -%}
              </button>
            </div>

            <noscript>
              <label for="quantity--{{ unique }}">{{ 'products.product.quantity' | t }}</label>
              <input type="number" name="quantity" id="quantity--{{ unique }}" value="1" min="1">
            </noscript>
          </div>
          
        {%- else -%}
          <input type="hidden" name="quantity" value="1">
        {%- endif -%}
        {%- comment -%} END QUANTITY {%- endcomment -%}
        <button type="submit" name="add" id="AddToCart--{{ unique }}" class="product-form__submit-btn btn btn--submit" {% if sold_out %} disabled {% endif %} data-add-to-cart>
          <span id="AddToCartText" class="product-form__submit-text" data-add-to-cart-text>
            {%- if sold_out -%}
              {{- 'products.product.sold_out' | t -}}
            {%- elsif preorder -%}
              {{- 'products.product.preorder' | t -}}
            {%- else -%}
              {{- 'products.product.add_to_cart' | t -}}
            {%- endif -%}
          </span>
          <span class="product-form__submit-divider"></span>
          <span class="product-form__submit-price">{{ current_variant.price | money }}</span>
          {%- render 'icon-loading' -%}
        </button>
    </div>
    {%- if show_payment_button -%}
      <div data-payment-button="{{ section.settings.show_payment_button }}" data-quickview-payment-button="{{ settings.show_payment_button }}">
        {{- form | payment_button -}}
      </div>
    {%- endif -%}
  </div>
</div>
{%- endform -%}
